.deck-card {
  max-width: 350px;
}

.deck-add {
  margin-right: 50px;
  margin-top: 50vh;
  display: inline-block;
  position: absolute;
}

.deck-list {
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

img {
  width:265px;
}

.add-deck {
  margin-top: 100px;
  width: 100%;
  color: rgba(0,0,0,.54);
}

.label-add-deck {
  font-size: 1.3em;
  font-weight: 400;
}
